@model OutfitPlaner_Applcation.Controllers.RegisterModel

@{
    Layout = null;
    ViewData["Title"] = "Register";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/register.css" />
</head>
<body>
    <div class="app-name">
        Планировщик гардероба
    </div>

    <div class="container">
        <div class="register-form">
            <h2 class="form-title">Регистрация</h2>
            <form asp-action="Register" method="post">
                <div class="form-group">
                    <label asp-for="UserName" class="control-label required-field">Имя пользователя</label>
                    <span class="help-icon" data-title="Пример: User123">❓</span>
                    <input asp-for="UserName" class="form-control" placeholder="Введите имя пользователя" required />
                    <span asp-validation-for="UserName" class="text-danger"></span>
           

                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label required-field">Электронная почта</label>
                    <span class="help-icon" data-title="Пример: example@example.com">❓</span>
                    <input asp-for="Email" class="form-control" placeholder="Введите адрес электронной почты" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="required-field">Пароль</label>
                    <span class="help-icon" data-title="Пример: MySecurePassword123!">❓</span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Введите пароль" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="required-field">Подтвердите пароль</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Повторите пароль" required />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Зарегистрироваться" class="btn btn-primary" />
                </div>

                <div class="auth-link">
                    Уже есть аккаунт? <a asp-controller="Account" asp-action="Login">Войти</a>
                </div>
            </form>
        </div>

        <div class="image-container">
            <img src="~/image/icon_register.png" alt="Background Image" class="background-image" />
        </div>
    </div>
</body>